@use "./../../init" as *;

@use "./solution_cta";
@use "./products";

.c-solution-content {
    display: flex;
    flex-direction: row;
    gap: 0 2.4rem;
    margin-bottom: 8rem;

    @media (max-width: 1200px) {
        flex-direction: column;
        gap: 2.4rem;
    }

    &__cta {
        flex: 1;
        min-width: 0;
    }

    &__products {
        flex: 1;
        display: flex;
        gap: 2.4rem;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}
